name: Tag Workflow

on:
  push:
    tags:
      - "*.*.*"

jobs:
  build-db:
    uses: ./.github/workflows/docker.yml
    with:
      context: ./db
      dockerfile: ./db/Dockerfile
      image-authors: TODO
      image-description: "Wanderer Database Image"
      image-name: pstoeckle/wanderer/wanderer-db
      image-registry: ghcr.io
      image-tag: ${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}
      image-title: "Wanderer Database Image"
    permissions:
      contents: read
      packages: write
  build-web:
    uses: ./.github/workflows/docker.yml
    with:
      context: ./web
      dockerfile: ./web/Dockerfile
      image-authors: TODO
      image-description: "Wanderer Web Image"
      image-name: pstoeckle/wanderer/wanderer-web
      image-registry: ghcr.io
      image-tag: ${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}
      image-title: "Wanderer Web Image"
    permissions:
      contents: read
      packages: write
  build-search:
    uses: ./.github/workflows/docker.yml
    with:
      context: ./search
      dockerfile: ./search/Dockerfile
      image-authors: TODO
      image-description: "Wanderer Search Image"
      image-name: pstoeckle/wanderer/wanderer-search
      image-registry: ghcr.io
      image-tag: ${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}
      image-title: "Wanderer Search Image"
    permissions:
      contents: read
      packages: write
